* {
  box-sizing: border-box;
  font-size: 18px;  
}
 
body, html {
  padding:0px;
  margin:0px;
  background:darkgray;   
}

main .row {
  font-family: 'IBM Plex Sans', sans-serif;
  max-width: 90%;
  margin: 0 auto; 
  background: white;  
  padding-bottom: 5px; 
  margin-bottom: 20px; 
}

.introduction, .futureFeatures {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header {  
  text-align: center;
  vertical-align: top;
  width: 100%;
  max-width:100%;
  color:white;
  font-size:8px;
  height: 150px;
}

.headerImage { 
  background: black; 
  height:150px; 
  width: 100%;
  object-fit: contain;
  offset: -20px; 
}

/* Centered text */
.centered {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error-message {
  font: bold;
  color:red;
  border: red;
  border-color: red;
  border-style: solid;    
}

h2, h2, h3, address {
  margin: 0;
  display: inline-block;
}

.hostsAndLocation {
  max-width: 290px;
  border-radius: 3px; 
  background: white;
}

.eventLocation {
  align-items: center;
  justify-content: center;
  display: block;
  padding: 5px;
  min-width: 200px; 
}

.flex-container {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.flex-item {
 flex-grow: 1;
 flex-shrink: 1;
 flex-basis: auto;
 background: white;
 border: solid darkgrey 1px;
 max-width: 290px;
 margin-bottom: 5px;

}

.event-hosts {
  justify-content: center;
}

.map-canvas {
  border: none;
}

.menuHeader {
  width: 100%;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 3px;
  padding: 2px;   
  height: 30px; 
}

.contributor-menuHeader {
  height: 60px; 
}

.courseAndMenu{
  border: 1px solid darkgray;
  width: 290px;
  border-radius: 3px; 
  background: white;
}

.menu {
  background-color: lightgray; 
  vertical-align: top;  
}

.menuItems {
  margin-top: 40px;
  max-width: 290px;  
}


.menuItem {
  padding-left: 5px;
  padding-right: 5px;
  max-width: 290px;  
}

.course, .host { 
  text-align: center;
  vertical-align: center;
  border: 1px solid darkgrey;
  width: 100%;
  float: right;
  background: lightgrey;
  border-radius: 3px;
  padding: 2px;   
}

.event {
  border: 1px solid darkgrey;
  margin-bottom: 2px;
}

.event, .course {
  vertical-align: top;  
}

.title {
    clear: left;
    display:block;
    padding: 10px;    
}

.col-6 {
  text-align: center;
  width: 100%;
}

.content{
  border-radius: 20px;
}

.tc-link {
  width: 100%;
}

.tc-img{
  height: 300px;
  width: 100%;
  object-fit: cover;
  border: solid blue 2px;
  text-decoration: none;
}

.search {
  height: 30px;
  text-align: center;
}
.searchBox {
  background-color: lightgray; 
  margin-top: 5px;
  margin-bottom: 5px;
}

/* links */
.recipeLink {
  text-decoration: none;
}
.add-recipe-to:link, .add-recipe-to:visited,
.edit-link:link, .edit-link:visited,
.show-menu:link, .show-menu:visited {
  text-decoration: none;
  color: black;
  display: inline-block;
  font: bold;
}

.add-recipe-to:hover, .add-recipe-to:active, 
.edit-link:hover, .edit-link:active,
.show-menu:hover, .show-menu:visited {
  background-color:darkgrey;
}

.contributor:link, .contributor:visited {
  background-color: lightgray;
  color: black;
  padding: 5px 5px;
  text-align: center; 
  display: inline-block;
  text-decoration: none;
  font: bold;
  border-radius: 15px; 
}

.contributor:hover, .contributor:active {
  background-color:darkgrey;
  border-radius: 15px; 
}

/*  Search navigation buttons for Prev and Next */
.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}
.Aligner-item-arrow {
  max-width: 50%;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .flex-item { max-width: 260px;  } 
  .course {float: left;}
  * {font-size: 16px;}
  .searchBox {height:60px;
  }
  .Aligner-item-arrow::after
  .Aligner-item-arrow::before
   {display: block; width: 100%;    flex-basis: 0; order: 1;} 
   .Aligner-item-arrow
  {display: block; width: 100%;    flex-basis: 0; order: 1;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .flex-item { max-width: 260px;  }
  .course {float: left;}
  * {font-size: 16px;}
  .Aligner-item::before {display: block; width: 100%;  }  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .flex-item { max-width: 290px;  }
  .search-prev, .search-next { 
    width: 200px;
    height: 35px;
    line-height: 30px;
  }
  * {font-size: 20px;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .flex-item { max-width: 290px;  }
  .search-prev, .search-next { 
    width: 200px;
    height: 35px;
    line-height: 30px;
  }
  * {font-size: 20px;}
  .add-recipe-to { font-size: 20px;}
  .search-prev, .search-next {  font-size: 20px;}
  .hostsAndLocation { max-width: 700px; }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .flex-item { max-width: 290px;  }
  .search-prev, .search-next { 
    width: 200px;
    height: 35px;
    line-height: 30px;
  }  
  * {font-size: 20px;}
  .add-recipe-to { font-size: 20px;}
  .search-prev, .search-next {  font-size: 20px;}
  .hostsAndLocation { max-width: 700px; }
}
